<div class="img-container" (scroll)="onScroll($event)" >
  <div class="grid-list-container">
    <mat-grid-list cols="6" rowHeight="200px">
      <mat-grid-tile [colspan]="2" class="grid-title"
                     *ngFor="let photo of photosData; trackBy: photoTrackBy">
        <app-photo-card [photo]="photo" (selected)="addToFavorite($event)"></app-photo-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<div *ngIf="loading$ | async" class="loading-container">
  <mat-spinner diameter="60"></mat-spinner>
</div>

